$darkblue: #022e51;
$gray: #bcbdc0;
$lightorange: #fc944a;
$rosewood: #5b0b1c;

$font-page: sans-serif;
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../../UX_UI/login_signUp/login_signUp_bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  position: relative;
  width: 90%;
  height: 80vh;
  display: flex;
  .image-box{
    position: relative;
    width: 50%;
    height: 90%;
    
   border-right: 6px solid $darkblue;
    background-color: $lightorange;
    
    .image-content{
      width: 90%;
      height: 90%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px auto;
      animation: slide 30s infinite;
    }
  }
  
  .content-box{
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    background-color: $lightorange;
    border-left: 10px solid $gray;
    .forum-box{
      width: 60%;
      height: 50vh;
       color: $rosewood;
      .login-text{
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
         margin-top: 10px;
        border-bottom: 4px solid $gray;
        letter-spacing: 1px;
        display: inline-flex;
      }
     .button-home{
        border: none;
        background-color: $rosewood;
        color: $gray;
        padding: 5px 5px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
     }
     .button-home:hover{
        background-color: $darkblue;
     }
     .remember{
         margin-bottom: 10px;
         margin-top: 10px;
         font-weight: 400;
         font-size: 14px;
         input[type = "checkbox"]{
           margin-right: 5px;
         }
       }
      .input-box{
        span{
          font-size: 16px;
          margin: 10px 10px 10px 5px;
          display: inline-block;
          color: $rosewood;
          font-weight: 300;
          letter-spacing: 1px;
        }
        input{
          width: 100%;
          padding: 10px 15px;
          outline: none;
          font-weight: 400;
          border: 1px solid white;
          font-size: 16px;
          letter-spacing: 1px;
          color: $rosewood;
          background: transparent;
          border-radius: 30px;
        }
        input[type="submit"]{
          background: $rosewood;
          color: $gray;
          outline: none;
          border: none;
          font-weight: 500;
          cursor: pointer;
        }
        input[type = "submit"]:hover{
          background: $darkblue;
        }
        p{
          
          padding-top: 15px;
          padding-bottom: 15px;
          color: $rosewood;
          a{
            color: $darkblue;
          }
        }
      }
    }
    
  }
}
@keyframes slide{
  0%{
    background: url('../../UX_UI/login_signUp/anim_logo_alb/1.png') no-repeat center;
    background-size: cover;
      margin: 10px auto;
  }
  14%{
    background: url('../../UX_UI/login_signUp/anim_logo_alb/2.png') no-repeat center;
    background-size: cover;
      
      margin: 10px auto;
  }
  28%{
    background: url("../../UX_UI/login_signUp/anim_logo_alb/3.png") no-repeat center;
    background-size: cover;
      
      margin: 10px auto;
  }
  42%{
    background: url("../../UX_UI/login_signUp/anim_logo_alb/4.png") no-repeat center;
    background-size: cover;
      margin: 10px auto;
  }
  56%{
    background: url("../../UX_UI/login_signUp/anim_logo_alb/5.png") no-repeat center;
    background-size: cover;
      margin: 10px auto;
  }
  70%{
    background: url("../../UX_UI/login_signUp/anim_logo_alb/6.png") no-repeat center;
    background-size: cover;
      margin: 10px auto;
  }
  84%{
    background: url("../../UX_UI/login_signUp/anim_logo_alb/7.png") no-repeat center;
    background-size: cover;
      margin: 10px auto;
  }
  100%{
    background: url('../../UX_UI/login_signUp/anim_logo_alb/1.png') no-repeat center;
    background-size: cover;
      margin: 10px auto;
  }
}
@media screen and (max-width: 760px){
  section{
    .image-box{
      display: none;
    }
    .content-box{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 90%;
      .forum-box{
        width: 60%;
      height: 50vh;
        padding: 40px;
        h3{
          color: green;
          text-align: center;
          margin: 30px 0 10px;
          font-weight: 500;
        }
      }
    }
  }
  
}